{% extends "layout.html" %}
{% block title %}
soil_live
{% endblock %}
{% block content %}
<p>jordfugtighed</p>
<h2>Jorfugtighed og pumpe til vanding</h2>
jordfugtighed : <span id="jordfugtighed"></span>%<br />
Pumpen kører : <span id="pump_status"></span><br />
<button onclick="give_water()">Water the plants!</button>
<script>
    var socket = io();
    socket.emit('hent_soil')
    socket.on('soil', function(data) {
        console.log(data)
            document.getElementById('jordfugtighed').innerText = data["moist_percentage"]
            document.getElementById('pump_status').innerText = data["pump_state"] == 1 ? "ja" : "nej";
        socket.emit('hent_soil')
    })

    socket.on('pump',
    function(data){
      console.log("pump_state " + data)
      document.getElementById('pump_status').innerText = data["pump_state"] == 1 ? "ja" : "nej";
    }
    )

function give_water(){
    socket.emit("start_pump")
}

</script>
{% endblock %}